GEMINI_API_KEY="Key1,Key2,Key3" # You can provide a comma-separated list of keys for round-robin rate limit bypassing
GEMINI_MODEL="gemini-3.5-flash-lite"
GEMINI_TEMPERATURE="0.1"
GEMINI_TOP_P="0.8"
GEMINI_MAX_OUTPUT_TOKENS="1024"
